@model AdminApi.Models.School.StudentPassword

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentPassword</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoiceId1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoiceId1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChoiceId2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChoiceId2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentPasswordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
